.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newItem {
  width: 18rem;
  margin: 20px;
  display: inline-block;
}

.newItem .card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.newItem .card-img-top {
  width: 100%;
  height: 12rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.newItem .card-body {
  padding: 1rem;
}

.newItem .card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.newItem .card-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  height: 4rem;
}

.newItem .btn-primary {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.newItem .link {
  color: gray;
  text-decoration: none;
}
